<header>
    <nav class="d-flex flex-row align-items-center navbar navbar-light px-3">
    <div class="navbar-brand">
        <a href="{{ path('main') }}">
            SnowTricks 
        </a>
        <span>
            by 
        </span>
        <a href="https://www.gaelpaquien.com" target="_blank">
            <img src="{{ asset('assets/img/logo.svg') }}" alt="Logo" width="48" height="48">
        </a>
    </div>

        <div class="flex-row navbar-nav">
            <a class="nav-link" href="{{ path('main') }}">Accueil</a>

            {% if not app.user %}
            <span class="d-flex align-items-center px-2 pb-1">|</span>
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                <span class="d-flex align-items-center px-2 pb-1">|</span>
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            {% endif %}

            {% if app.user %}
                <span class="d-flex align-items-center px-2 pb-1">|</span>
                <a class="nav-link" href="{{ path('trick_create') }}">Nouveau Trick</a>
                <span class="d-flex align-items-center px-2 pb-1">|</span>
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            {% endif %}
        </div>
      </nav>
</header>
