{% extends 'base.html.twig' %}

{% block title %}Accueil / SnowTricks{% endblock %}

{% block body %}
  <div class="hero">

      <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
          <h1>SnowTricks</h1>
          <p>Partagez votre expérience et vos tricks favoris !</p>
      </div>
      <div class="hero-icon-btn">
        <i class="fa-sharp fa-solid fa-arrow-down fa-2xl"></i>
      </div>
  </div>

  <section class="tricks m-5">
    <div class="row row-cols-1 row-cols-md-5 g-4 ">
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>    
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>     
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div> 
      <!-- Item -->
      <div class="col">
        <div class="card">
          <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
          <div class="card-body d-flex flex-row justify-content-between align-items-center">
            <h5 class="card-title">
              <a href="#">Trick name</a>
            </h5>
            <i class="fa-sharp fa-solid fa-pencil pb-2"></i>
            <i class="fa-regular fa-trash-can pb-2"></i>
          </div>
        </div>
      </div>                   
    </div>
    <div class="text-center">
      <button class="btn btn-primary mt-5">Voir plus...</button>
    </div>

  </section>
  <div class="tricks-icon-btn">
    <i class="tricks-icon-btn-item fa-sharp fa-solid fa-arrow-up fa-2xl"></i>
  </div>
{% endblock %}