{% extends 'base.html.twig' %}

{% block title %}Accueil / SnowTricks{% endblock %}

{% block body %}
<div class="test">

</div>
  <!-- Hero -->
  <div class="hero position-relative">
    <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
      <h1>SnowTricks</h1>
      <h2>Partagez votre expérience et vos tricks favoris !</h2>
    </div>
    <button onclick="scrollToTricks()" class="hero-btn-goToTricks position-absolute">
      <i class="fa-sharp fa-solid fa-arrow-down fa-2xl"></i>
    </button>
  </div>

  <!-- Tricks -->
  <section class="tricks pt-3 position-relative" id="tricks">
    <div class="container pt-4">
      <div class="row hidden-md-up row-cols-1 row-cols-md-3 row-cols-lg-5">
        <!-- Item -->
        {% for trick in tricks %}
          <div class="col">
            <div class="card">
              <img class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
              <div class="card-body d-flex flex-row justify-content-between align-items-center">
                <h3 class="card-title">
                  <a href="{{ path('tricks_details', {slug: trick.slug, id: trick.id}) }}">{{ trick.title }}</a>
                </h3>
                <a class="card-btn card-btn-update" href="{{ path('tricks_update', {slug: trick.slug, id: trick.id}) }}">
                  <i class="fa-sharp fa-solid fa-pencil pb-1"></i>
                </a>
                <a class="card-btn card-btn-delete" href="{{ path('tricks_delete', {slug: trick.slug, id: trick.id}) }}">
                  <i class="fa-regular fa-trash-can pb-1"></i>
                </a>
                {#<button type="button" class="card-btn" data-toggle="modal" data-target="#card-btn-delete">
                  <i class="fa-regular fa-trash-can pb-1"></i>
                </button> #}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Button to load more tricks -->
    <div class="d-flex justify-content-center pt-3 pb-5">
      <a href="#" class="btn btn-load-tricks">Voir plus de Tricks...</a>
    </div>

    {# <!-- Modal to confirmed trick removal -->
    <div class="modal fade" id="card-btn-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Confirmer la suppression du trick</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="fa-regular fa-circle-xmark fa-2xl"></i>
            </button>
          </div>
          <div class="modal-body">
            Voulez-vous confirmer la suppression du trick <strong>Trick name</strong> ?
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-btn-cancel btn" data-dismiss="modal">Annuler</button>
            <a href="{{ path('tricks_delete', {slug: ?, id: ?}) }}">
              <button type="button" class="modal-btn-confirm btn">Confirmer</button>
            </a>
          </div>
        </div>
      </div>
    </div> #}

    <!-- Button to scroll to tricks section -->
    <button onclick="scrollToTricks()" class="position-absolute home-btn-goToTricks">
      <i class="fa-sharp fa-solid fa-arrow-up fa-2xl"></i>
    </button>
  </section>
{% endblock %}