<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/brands/favicon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">

        <!-- JS -->
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous" defer></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous" defer></script>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/index.js') }}" defer></script>
    </head>

    <body>
        {% include "_partials/_header_nav.html.twig" %}
        {% block body %}{% endblock %}
        {% include "_partials/_footer.html.twig" %}
    </body>
</html>