{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {{ form_start(createForm) }}
        {{ form_row(createForm.title)}}
        {{ form_row(createForm.description)}}
        {{ form_row(createForm.category)}}
        {# {{ form_row(createForm.images)}}
        {{ form_row(createForm.videos)}} #}
    {{ form_end(createForm) }}
</div>
{% endblock %}
