{% extends 'base.html.twig' %}

{% block title %}Créer un tricks / SnowTricks{% endblock %}

{% block body %}
    <section class="create-tricks d-flex align-items-center py-4">
        {{ form_start(createForm) }}
        {{ form_row(createForm.Tricks.title) }}
        {{ form_row(createForm.Tricks.description) }}
        {{ form_row(createForm.Tricks.category) }}
        {{ form_row(createForm.Images.image) }}
        {{ form_row(createForm.Videos.video) }}
        <div class="d-flex flex-column justify-content-center align-items-center">
            <button type="submit" class="mb-3">Créer le tricks</button>
        </div>
        {{ form_end(createForm) }}
    </section>
{% endblock %}
