{% extends 'base.html.twig' %}

{% block title %}Tricks Title / SnowTricks{% endblock %}

{% block body %}
<section class="details-tricks pb-5">
    <!-- Main image -->
    <div class="tricks-img-main">
        <img class="img-fluid" src="{{ asset('assets/img/tricks/01-Default.png') }}" alt="">
        <span>Tricks Title</span>
        <div class="links">
            <a href="#" class="update">
                <i class="fa-sharp fa-solid fa-pencil"></i>
            </a>
            <a href="#" class="delete">
                <i class="fa-regular fa-trash-can"></i>
            </a>
        </div>
    </div>

    <!-- Medias -->
    <div class="container medias pt-4">
        <div class="row hidden-md-up row-cols-md-3 row-cols-lg-6">
            <!-- Item -->
            <div class="d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <img height="250" class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <img height="250" class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <img height="250" class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                </div>
            </div>
            <!-- Item -->
            <div class="d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Medias (Button trigger modal) -->
    <div class="mobile-medias d-flex justify-content-center pt-4">
        <button type="button" class="btn" data-toggle="modal" data-target="#mobileMediasModal">Afficher les médias</button>
    </div>

    <!-- Mobile Medias Modal -->
    <div class="modal fade" id="mobileMediasModal" tabindex="-1" role="dialog" aria-labelledby="mobileMediasModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mobileMediasModalLabel">Gestion des médias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Item -->
                    <div class="my-4">
                        <img height="250" class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
                    </div>
                    <hr>
                    <!-- Item -->
                    <div class="my-4">
                        <img height="250" class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
                    </div>
                    <hr>
                    <!-- Item -->
                    <div class="my-4">
                        <img height="250" class="card-img-top" src="{{ asset('assets/img/tricks/01-Default.png') }}">
                    </div>
                    <hr>
                    <!-- Item -->
                    <div class="my-4">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                    <hr>
                    <!-- Item -->
                    <div class="my-4">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                    <hr>
                    <!-- Item -->
                    <div class="my-4">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="medias-modal-btn btn btn-secondary" data-dismiss="modal">Retour</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="tricks-content container mt-4">
        <span class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat totam laboriosam excepturi sunt, nulla maiores velit culpa itaque blanditiis! Aperiam sequi perspiciatis quasi, quos ut magni error nostrum eos cumque? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae porro ipsam itaque reiciendis ipsa doloribus. Voluptatum fugit perferendis pariatur corrupti, odit aperiam fugiat vero beatae obcaecati nesciunt sunt sequi aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni mollitia impedit velit suscipit odit provident debitis? Officia nesciunt delectus quidem amet eaque, quia ullam odio, expedita modi vero labore obcaecati! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora corporis eaque accusamus architecto ipsa amet consequatur, sit repellendus quos, aperiam cum necessitatibus, vitae possimus ratione modi perspiciatis provident sapiente sunt? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque vero temporibus earum repellendus suscipit vel assumenda nisi quod delectus hic doloribus quisquam fugit totam, eveniet voluptate esse enim cum asperiores.</span>
        <div class="infos d-flex flex-row justify-content-center mt-4">
            <span class="mx-2">Catégorie</span>
            <span class="mx-2">Créer le XX/XX/XXXX par John Doe</span>
            <span class="mx-2">Modifier le XX/XX/XXXX par John Doe</span>
        </div>
        <hr>
        <div class="post-comment d-flex flex-row justify-content-center my-4">
            <input class="mx-2" type="text">
            <button class="mx-2">Publier un commentaire</button>
        </div>
        <hr>
        <div class="comments ">
            <!-- Item -->
            <div class="d-flex flex-row justify-content-center mt-4">
                <img src="{{ asset('assets/img/users/01-Default.svg') }}" alt="">
                <span class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed animi et incidunt, laboriosam, atque numquam in laborum hic, sunt aliquam doloribus? Consequatur eligendi rem atque sint ad, voluptatibus repudiandae fuga.</span>
            </div>
            <!-- Item -->
            <div class="d-flex flex-row justify-content-center mt-4">
                <img src="{{ asset('assets/img/users/01-Default.svg') }}" alt="">
                <span class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed animi et incidunt, laboriosam, atque numquam in laborum hic, sunt aliquam doloribus? Consequatur eligendi rem atque sint ad, voluptatibus repudiandae fuga.</span>
            </div>
            <!-- Item -->
            <div class="d-flex flex-row justify-content-center mt-4">
                <img src="{{ asset('assets/img/users/01-Default.svg') }}" alt="">
                <span class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed animi et incidunt, laboriosam, atque numquam in laborum hic, sunt aliquam doloribus? Consequatur eligendi rem atque sint ad, voluptatibus repudiandae fuga.</span>
            </div>
        </div>
        <!-- Button to load more comments -->
        <div class="d-flex justify-content-center mt-4">
            <a href="#" class="btn btn-load-comments">Voir plus de commentaires...</a>
        </div>
    </div>
</section>
{% endblock %}
