<!-- Medias -->
<div class="container medias pt-4">
    <div class="row hidden-md-up row-cols-md-2 row-cols-lg-3">
        {% for image in trick.image %}
            <!-- Images -->
            <div class="media-block d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('assets/uploads/tricks/mini/300x300-' ~ image.name) }}" alt="Image de {{ trick.title }}">
                    </div>
                </div>
                <div class="medias-links d-flex flex-row justify-content-between align-items-center">
                    <a class="update-trick-image-modal"
                        data-image-name="{{ image.name }}"
                        data-trick-id="{{ trick.id }}"
                        data-url="{{ path('trick_update', {slug: trick.slug}) }}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </a>
                    <a href="{{ path('trick_image_delete', {slug: trick.slug, id: image.id}) }}" 
                        data-delete
                        data-confirm-message="Êtes-vous sûr de vouloir supprimer cette image ?"
                        data-token="{{ csrf_token('delete' ~ image.id) }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
        {% for video in trick.video %}
            <!-- Videos -->
            <div class="media-block d-flex flex-column mb-4">
                <div class="col">
                    <div class="card">
                        <iframe class="card-img-top" src="{{ video.url }}"></iframe>
                    </div>
                </div>
                <div class="medias-links d-flex flex-row justify-content-between align-items-center">
                    <a class="update-trick-video-modal"
                        data-video-url="{{ video.url }}"
                        data-trick-id="{{ trick.id }}"
                        data-url="{{ path('trick_update', {slug: trick.slug}) }}">
                        <i class="fa-sharp fa-solid fa-pencil"></i>
                    </a>
                    <a href="{{ path('trick_video_delete', {slug: trick.slug, id: video.id}) }}"
                    data-delete
                    data-confirm-message="Êtes-vous sûr de vouloir supprimer cette vidéo ?"
                    data-token="{{ csrf_token('delete' ~ video.id) }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<!-- Mobile Medias (Button trigger modal) -->
{% if trick.image.count() >= 1 or trick.video.count() >= 1 %}
    <div class="mobile-medias d-flex justify-content-center pt-4">
        <button type="button" class="btn" data-toggle="modal" data-target="#mobileMediasModal">Afficher les médias</button>
    </div>
{% endif %}

<!-- Mobile Medias Modal -->
<div class="modal fade" id="mobileMediasModal" tabindex="-1" role="dialog" aria-labelledby="mobileMediasModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mobileMediasModalLabel">Gestion des médias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <!-- Images -->
                    {% for image in trick.image %}
                        <div class="media-block">
                            <div class="my-4">
                                <img class="card-img-top" src="{{ asset('assets/uploads/tricks/mini/300x300-' ~ image.name) }}" alt="Image de {{ trick.title }}">
                            </div>
                            <div class="mobile-medias-links d-flex flex-row justify-content-between align-items-center">
                                <a class="update-trick-image-modal"
                                    data-image-name="{{ image.name }}"
                                    data-trick-id="{{ trick.id }}"
                                    data-url="{{ path('trick_update', {slug: trick.slug}) }}">
                                    <i class="fa-sharp fa-solid fa-pencil"></i>
                                </a>
                                <a href="{{ path('trick_image_delete', {slug: trick.slug, id: image.id}) }}"
                                    data-delete
                                    data-confirm-message="Êtes-vous sûr de vouloir supprimer cette vidéo ?"
                                    data-token="{{ csrf_token('delete' ~ image.id) }}">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <!-- Videos -->
                    {% for video in trick.video %}
                        <div class="media-block">
                            <div class="my-4">
                                <iframe height="406" class="card-img-top" src="{{ video.url }}"></iframe>
                            </div>
                            <div class="mobile-medias-links d-flex flex-row justify-content-between align-items-center">
                                <a class="update-trick-video-modal"
                                    data-video-url="{{ video.url }}"
                                    data-trick-id="{{ trick.id }}"
                                    data-url="{{ path('trick_update', {slug: trick.slug}) }}">
                                    <i class="fa-sharp fa-solid fa-pencil"></i>
                                </a>
                                <a href="{{ path('trick_video_delete', {slug: trick.slug, id: video.id}) }}"
                                data-delete
                                data-confirm-message="Êtes-vous sûr de vouloir supprimer cette vidéo ?"
                                data-token="{{ csrf_token('delete' ~ video.id) }}">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </div>
                            <hr>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="medias-modal-btn btn btn-secondary" data-dismiss="modal">Retour</button>
            </div>
        </div>
    </div>
</div>

<!-- Trick infos -->
<div class="infos d-flex flex-row justify-content-center mb-4">
    <span>Créer le {{ trick.createdAt|date('d/m/Y') }} par {{ trick.author.username }}</span>
    <span class="vertical-line"></span>
    {% if (trick.createdAt != trick.updatedAt) and trick.updatedBy.username != null %}
        <span >Modifier le {{ trick.updatedAt|date('d/m/Y') }} par {{ trick.updatedBy.username }}</span>
    {% else %}
        <span >Ce trick n'a jamais été modifié</span>
    {% endif %}
</div>