{{ form_start(trickForm) }}
    {{ form_row(trickForm.title) }}
    {{ form_row(trickForm.description) }}
    {{ form_row(trickForm.category) }}

    {# Displays the images if it is the editing page #}
    {% if app.request.attributes.get('_route') == 'trick_update' %}
        <h2>Images</h2>
        {% for image in trick.image %}
            <div>
                <img src="{{ asset('assets/uploads/tricks/mini/300x300-' ~ image.name) }}" alt="Image de {{ trick.title }}">
                <a href="{{ path('trick_image_delete', {slug: trick.slug, id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}

    {{ form_row(trickForm.image) }}

    <div class="tricks-content-btn d-flex justify-content-end mt-4">
        <button type="submit" class="btn update">{{ button_label|default('Modifier') }}</button>
        <a class="btn delete mx-3 delete-trick-modal"
            data-url="{{ path('trick_delete', {slug: trick.slug}) }}" 
            data-confirm-message="Êtes-vous sûr de vouloir supprimer le trick '{{ trick.title }}' ?">
            Supprimer
        </a>
    </div>
{{ form_end(trickForm) }}