{{ form_start(trickForm) }}
    {# editting page only #}
    {% if app.request.attributes.get('_route') == 'trick_update' %}
        {% include "trick/_form_media.html.twig" %}
    {% endif %}

    {{ form_row(trickForm.title) }}
    {{ form_row(trickForm.description) }}
    {{ form_row(trickForm.category) }}
    {{ form_row(trickForm.image) }}

    <div class="tricks-content-btn d-flex justify-content-end mt-4">
        <button type="submit" class="btn update">{{ button_label|default('Modifier') }}</button>
        <a class="btn delete mx-3 delete-trick-modal"
            data-url="{{ path('trick_delete', {slug: trick.slug}) }}" 
            data-confirm-message="Êtes-vous sûr de vouloir supprimer le trick '{{ trick.title }}' ?">
            Supprimer
        </a>
    </div>
{{ form_end(trickForm) }}