<div id="confirm-modal-update-image">
    <div class="modal-content">
        <h5 class="modal-title">Modifier une vidéo</h5>
        <div class="mt-2">
            <img id="modal-image" height="250" class="card-img-top" src="{{ asset('assets/uploads/tricks/mini/300x300-' ~ 'TrickFixture1.jpg') }}" alt="Image de {{ trick.title }}">
        </div>
        <p id="confirm-message-update"></p>
        {{ form_start(trickVideoForm) }}
            {{ form_row(trickVideoForm.newVideo) }}
            <div class="d-flex flex-row justify-content-center">
                <button id="confirm-yes-update-image" type="submit" class="confirm-modal-validate mx-2">Modifier</button>
                <button id="confirm-no-update-image" type="button" class="btn confirm-modal-cancel mx-2">Annuler</button>
            </div>
        {{ form_end(trickVideoForm) }}
    </div>
</div>
