{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }} / Snowtrick{% endblock %}

{% block body %}
<section class="details-tricks pb-5">
    <!-- Main image -->
    <div class="tricks-img-main">
        <img class="img-fluid" src="{{ asset('assets/uploads/tricks/default.png') }}" alt="Image de {{ trick.title }}">
        <span>{{ trick.title }}</span>
        {% if (app.user and app.user.id == trick.author.id) or (app.user and isAdmin == true) %}
            <div class="links">
                <a href="{{ path('trick_update', {slug: trick.slug}) }}" class="update">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                </a>
                <a class="delete delete-trick-modal"
                    data-url="{{ path('trick_delete', {slug: trick.slug}) }}" 
                    data-confirm-message="Êtes-vous sûr de vouloir supprimer le trick '{{ trick.title }}' ?">
                    <i class="fa-regular fa-trash-can"></i>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- Modal to confirm tick deleted -->
    {% include "trick/_modal_delete.html.twig" %}

    <!-- Medias -->
    <div class="container medias pt-4">
        <div class="row hidden-md-up row-cols-md-3 row-cols-lg-6">
            {% for image in trick.image %}
                <div class="d-flex flex-column mb-4">
                    <div class="col">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('assets/uploads/tricks/mini/300x300-' ~ image.name) }}" alt="Image de {{ trick.title }}">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Mobile Medias (Button trigger modal) -->
    <div class="mobile-medias d-flex justify-content-center pt-4">
        <button type="button" class="btn" data-toggle="modal" data-target="#mobileMediasModal">Afficher les médias</button>
    </div>

    <!-- Mobile Medias Modal -->
    <div class="modal fade" id="mobileMediasModal" tabindex="-1" role="dialog" aria-labelledby="mobileMediasModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mobileMediasModalLabel">Gestion des médias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Item -->
                    <div class="my-4">
                        <img height="250" class="card-img-top" src="{{ asset('assets/uploads/tricks/default.png') }}">
                    </div>
                    <hr>
                    <!-- Item -->
                    <div class="my-4">
                        <iframe height="250" class="card-img-top" src="https://www.youtube.com/embed/V9xuy-rVj9w"></iframe>
                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="medias-modal-btn btn btn-secondary" data-dismiss="modal">Retour</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="tricks-content container mt-4">
        <span class="description fw-bolder">{{ trick.description }}</span>
        <div class="infos d-flex flex-row justify-content-center mt-5">
            <span class="mx-4">Catégorie : {{ trick.category.name }}</span>
            <span class="mx-2">Créer le {{ trick.createdAt|date('d/m/Y') }} par {{ trick.author.username }}</span>
            {% if trick.createdAt != trick.updatedAt %}
                <span class="mx-2">Modifier le {{ trick.updatedAt|date('d/m/Y') }} par {{ trick.author.username }}</span>
            {% endif %}
        </div>
        {% if app.user %}
            <hr>
            <div class="post-comment my-4">
                {{ form_start(createCommentForm) }}
                <div class="d-flex flex-row justify-content-center ">
                    {{ form_row(createCommentForm.content) }}
                    <button type="submit" class="btn create-comment-btn mx-1">Publier le commentaire</button>
                </div>
                {{ form_end(createCommentForm) }}
            </div>
        {% endif %}
        <hr>
        <div class="comments" id="comments">
            {% if comments %}
                {% for comment in comments.data %}
                    <div class="d-flex flex-row justify-content-start mt-4">
                        <img src="{{ asset('assets/uploads/users/default.svg') }}" alt="">
                        <div class="d-flex flex-column">
                            <span class="px-2 fw-bolder">{{ comment.content }}</span>
                            <span class="px-2 text-muted">
                                Publier le {{ comment.createdAt|date('d/m/Y') }} par {{ comment.author.username }}
                                {% if (app.user and app.user.id == comment.author.id) or (app.user and isAdmin == true) %}
                                    <a href="{{ path('trick_delete_comment', {slug: trick.slug, id: comment.id}) }}"> 
                                        <span class="delete-comment">| Supprimer le commentaire</span>
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                {% endfor %}
                {% set path = 'trick_details' %}
                {% set anchor = 'comments' %}
                {% set slug = trick.slug %}
                {% set pages = comments.pages %}
                {% set currentPage = comments.page %}
                {% include "_partials/_pagination.html.twig" %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/modal.js') }}" defer></script>
{% endblock %}